<ion-view title="" id="page7" style="">
  <ion-content padding="true" class="has-header" style="margin-bottom: 40px;">

    <h1 id="contato-heading4" style="color: rgb(0, 0, 0);">Contatos</h1>

    <strong>Coordenação:</strong>
    
    <div class="list">

        <a class="item item-avatar" ng-repeat="coordenador in contatos.coordenadores">
          <img src="{{coordenador.img}}">
          <h2>{{coordenador.nome}}</h2>
          <p>{{coordenador.email}}</p>
        </a>

    </div>

   
  </ion-content>
</ion-view>