<ion-view title="Contato" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="contato-heading4" style="color: rgb(0, 0, 0);">Contato</h1>
    <div id="contato-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Coordenador:</strong> José Hamurabi Nóbrega de Medeiros</p>
    </div>
    <div id="contato-markdown34" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Email:</strong> hamurabimedeiros@gmail.com</p>
    </div>
  </ion-content>
</ion-view>