<ion-view title="" id="page3" style="">
  <ion-content padding="true" class="has-header" style="margin-bottom: 40px;">
    <h1 id="sobreOCurso-heading6" style="color: rgb(0, 0, 0);">{{evento.titulo}}</h1>
    <div id="sobreOCurso-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>{{evento.subtitulo}}</strong>
      </p>
      <p style="color:#696969;"><i>{{evento.data}}</i></p>
      <p style="color:#696969;"><i>{{evento.descricao}}</i></p>
    </div>
    <div class="item-image" ng-if="evento.img" style="margin-bottom: 20px;">
      <img src="{{evento.img}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sobreOCurso-markdown37" class="show-list-numbers-and-dots">
      {{evento.texto}}
    </div>
  </ion-content>
</ion-view>
