<ion-view title="" id="page2" style="color: white">
  <ion-content padding="true" class="has-header">

    <div class="list card" ng-repeat="evento in eventos | orderBy:'-data'">
      
      <div ng-click="goToEvento(evento.id)">
        
        <ion-item class="item-icon-left positive" id="notCias-list-item11" style="">
          <i class="icon ion-calendar"></i>
          <div style="font-size:1.5em">{{evento.titulo}}</div>
        </ion-item>
        
        <div class=" item item-image" ng-if="evento.img">
          <img src="{{evento.img}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        
        <div class="item item-body" id="notCias-list-item-container2" style="">
          <div id="notCias-markdown2" class="show-list-numbers-and-dots">
            <span style="color:#000000;"><i>{{evento.data}}</i></span>
            <p style="margin-top:0px;color:696969;">
              {{evento.subtitulo}}
            </p>
          </div>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>