<ion-view title="Grade curricular" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="gradeCurricular-heading7" style="color: rgb(0, 0, 0);">Fluxograma</h1>
    <div>
      <img src="img/hesy1BKVQ16D1OZbBqO6_fluxograma.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/wc28a86SOKwg41dKLNAH_fluxograma2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>