<ion-view title="Início - Notícias" id="page1" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    
    <div class="list card" ng-repeat="(key, value) in noticias">
      <div ng-click="goToNoticia(key)">
        <ion-item class="item-icon-left positive" id="notCias-list-item11" style="">
          <i class="icon ion-alert"></i>{{value.titulo}}</ion-item>
        <div class=" item item-image">
          <img src="img/YUuueIoQSZaTJtXkwVYv_estrutura.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="notCias-list-item-container2" style="">
          <div id="notCias-markdown2" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              {{value.subtitulo}}
            </p>
          </div>
        </div>
      </div>
    </div>

    
  </ion-content>
</ion-view>