<ion-view title="Início - Notícias" id="page1" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <div style=" position: relative">
        <div>
          <img src="img/foto_lab.jpg" style="margin-left: -10px; margin-top: -10px; margin-bottom: 30px; height: 100px">
        </div>
    </div>
    
    <div class="list card" id="notCias-card21">
      <form id="notCias-form2" class="list">
        <label class="item item-input" id="notCias-search2" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="" type="search">
        </label>
      </form>
      <ion-item class="item-icon-left positive" id="notCias-list-item11" style="">
        <i class="icon ion-alert"></i>Noticia 01</ion-item>
      <div class=" item item-image">
        <img src="img/YUuueIoQSZaTJtXkwVYv_estrutura.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="notCias-list-item-container2" style="">
        <div id="notCias-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Saiu o app da
            <strong>facisa</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="notCias-list-item12" style="">
        <i class="icon ion-wand"></i>Teste</ion-item>
    </div>
    <div class="list card" id="notCias-card22">
      <ion-item class="item-icon-left" id="notCias-list-item13" style="">
        <i class="icon ion-ios-alarm"></i>Evento</ion-item>
      <div class=" item item-image">
        <img src="img/KqVwi9oBSRuHlMic9nEM_imagem-matria-JS-Day-Campina-Grande-330x200.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="notCias-list-item-container3" style="">
        <div id="notCias-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Foi massa
            <strong>D+</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="notCias-list-item14" style="">
        <i class="icon ion-monitor"></i>Play Song</ion-item>
    </div>
    <div class="list card" id="notCias-card23">
      <ion-item class="item-avatar assertive" id="notCias-list-item15" style="">
        <img src="img/Nmn2DOnsRIOyNxhzdq15_aaf4ab099b1c45edafad7c5be0326437.jpeg">
        <h2assertive>Atenção alunos</h2assertive>
      </ion-item>
      <div class=" item item-image">
        <img src="img/DuQnDOuS8yc54IKJ9vYC_banner_001.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="notCias-list-item-container4" style="">
        <div id="notCias-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Se liga ai
            <strong>+++++</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="notCias-list-item16" style="">
        <i class="icon ion-speakerphone"></i>ATENÇÃO</ion-item>
    </div>
  </ion-content>
</ion-view>