<ion-view title="{{noticia.titulo}}" id="page3" style="" ng-controller="sobreOCursoCtrl">
  <ion-content padding="true" class="has-header">
    <h1 id="sobreOCurso-heading6" style="color: rgb(0, 0, 0);">{{noticia.titulo}}</h1>
    <div id="sobreOCurso-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>{{noticia.subtitulo}}</strong>
      </p>

      <p style="color:#696969;"><i>{{noticia.descricao}}</i></p>
    </div>
    <img src="{{noticia.link}}" width="100%">
    <div id="sobreOCurso-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{noticia.texto}}</p>
    </div>
  </ion-content>
</ion-view>
