<ion-view title="Planos de Curso" id="page4" style="">
  <ion-content padding="true" class="has-header">

    <div style=" position: relative">
        <div>
          <img src="img/foto_lab.jpg" style="margin-left: -10px; margin-top: -10px; margin-bottom: 10px; height: 100px">
        </div>
    </div>

    <h1 id="planosDeCurso-heading3" style="color: rgb(0, 0, 0);">Planos de Curso</h1>
    
    <div class="item item-body" id="planosDeCurso-list-item-container12" style="" ng-repeat="(key, value) in periodos">
      
      <div id="planosDeCurso-markdown18" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>{{value.titulo}}</strong>
        </p>
      </div>
      
      <div id="planosDeCurso-markdown27" class="show-list-numbers-and-dots" ng-repeat="(key, value) in value.disciplinas">
        <p style="margin-top:0px;color:#000000;">{{value.titulo}}</p>
      </div>
     
    </div>
  </ion-content>
</ion-view>