<ion-view title="Professores" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="professores-heading5" style="color: rgb(0, 0, 0);">Professores</h1>
    <div id="professores-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Relação de professores do surso de Sistemas de infomração e seus respectivos e-mails</p>
    </div>
    <table border="1">
      <thead>
        <tr>
          <th>Professor</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        
        <tr ng-repeat="(key, value) in professores">
          <td>{{value.nome}}</td>
          <td>{{value.email}}</td>
        </tr>

      </tbody>
    </table>
  </ion-content>
</ion-view>