<ion-view title="" id="page6" style=""> 
  <ion-content padding="true" class="has-header" style="margin-bottom: 40px;">

    <h1 id="professores-heading5" style="color: rgb(0, 0, 0);">Professores</h1>
    <div id="professores-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Relação de professores do surso de Sistemas de Informação e seus respectivos e-mails</p>
    </div>
    
    <div class="list">

        <a class="item item-avatar" ng-repeat="professor in professores | orderBy : 'nome'">
          <img src="{{professor.img}}">
          <h2>{{professor.nome}}</h2>
          <p>{{professor.email}}</p>
        </a>

    </div>

  </ion-content>
</ion-view>