<ion-view title="S.I Facisa" id="page9" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" style="background: url(img/kZRuuMrS7ajK09l9WW7M_hqdefault.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/4g9ffOYFRKie9MM4XM9b_SiFacisa.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sIFacisa-container1">
      <a ui-sref="sIFacisa2.notCias" id="sIFacisa-button1" style="font-size:20px;border-radius:30px 30px 30px 30px;" class="button button-positive">Bem vindo!</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="sIFacisa2.sobreOApp" id="sIFacisa-button3" style="left:-10px;font-weight:300;" class="button button-positive button-small button-full icon ion-ios-help-outline">Sobre o App</a>
    </div>
  </ion-content>
</ion-view>