<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title"></div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="sIFacisa2-list1">
        <ion-item id="sIFacisa2-list-item1" ui-sref="sIFacisa2.notCias" menu-close="" style="">Início</ion-item>
        <ion-item id="sIFacisa2-list-item2" ui-sref="sIFacisa2.sobreOCurso" menu-close="" style="">Sobre o Curso</ion-item>
        <ion-item id="sIFacisa2-list-item3" ui-sref="sIFacisa2.planosDeCurso" menu-close="" style="">Disciplinas</ion-item>
        <ion-item id="sIFacisa2-list-item4" ui-sref="sIFacisa2.gradeCurricular" menu-close="" style="">Grade curricular</ion-item>
        <ion-item id="sIFacisa2-list-item5" ui-sref="sIFacisa2.professores" menu-close="" style="">Professores</ion-item>
        <ion-item id="sIFacisa2-list-item8" ui-sref="sIFacisa2.eventos" menu-close="" style="">Eventos</ion-item>
        <ion-item id="sIFacisa2-list-item6" ui-sref="sIFacisa2.contato" menu-close="" style="">Contato</ion-item>
        <ion-item id="sIFacisa2-list-item7" ui-sref="sIFacisa2.sobreOApp" menu-close="" style="">Sobre o app</ion-item>
      </ion-list>
      <div id="sIFacisa2-button-bar1" class="button-bar">
        <a href="#" onclick="window.open('https://www.facebook.com/facisapb/?fref=ts', '_system', 'location=yes'); return false;" id="sIFacisa2-button7" class="button button-positive  button-block button-outline icon ion-social-facebook"></a>
        <a href="#" onclick="window.open('https://twitter.com/search?q=facisa&amp;src=typd&amp;lang=pt-br', '_system', 'location=yes'); return false;" id="sIFacisa2-button8" class="button button-positive  button-block button-outline icon ion-social-twitter"></a>
        <a href="#" onclick="window.open('https://www.youtube.com/user/facisapb', '_system', 'location=yes'); return false;" id="sIFacisa2-button9" class="button button-positive  button-block button-outline icon ion-social-youtube"></a>
        <a href="#" onclick="window.open('http://www.instagram.com/facisapb', '_system', 'location=yes'); return false;" id="sIFacisa2-button11" class="button button-positive  button-block button-outline icon ion-social-instagram"></a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>