<ion-view title="Sobre o Curso" id="page3" style="" ng-controller="sobreOCursoCtrl">
  <ion-content padding="true" class="has-header">
    <h1 id="sobreOCurso-heading6" style="color: rgb(0, 0, 0);">{{sobre.titulo}}</h1>
    <div id="sobreOCurso-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>{{sobre.subtitulo}}</strong>
      </p>

      <p style="color:#000000;">{{sobre.texto1}}</p>
    </div>
    <div id="sobreOCurso-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{sobre.texto2}}</p>
    </div>
  </ion-content>
</ion-view>