<ion-view title="Sobre o app" id="page8" style="">
  <ion-content padding="true" class="has-header">

  <div style="position: relative;">

	  <div>
	  	<img src="img/foto_lab.jpg" style="margin-left: -10px; margin-top: -10px;">
	  </div>

	  
		<div style="position: relative; margin-top: 30%;">
			<p style="margin-left: 20%">
				<strong>Desenvolvedores:</strong>
				Bueno Nepomuceno e Volnei Fuzer
			</p>
			<p style="margin-left: 33%">
				<strong>Colaborador:</strong>Paulo Giovanny
			</p>
			<p style="margin-left: 33%">
				<strong>Orientador:</strong>Prof: Daniel Abella
			</p>
			
		</div>

	  </div>

  		<div style="position: relative;">
  			<div style="position: relative; margin-top: 35%; padding-left: 40%">Desenvolvido no:</div>
  			<img src="img/logo_lti.png" style="position: absolute; width:20%; margin-top: 0px; margin-left: 40%">

  		</div>
	</div>

  </ion-content>
</ion-view>