<ion-view title="" id="page3" style="">
  
  <ion-content padding="true" class="has-header" style="margin-bottom: 40px;">

    <h1 id="sobreOCurso-heading6" style="color: rgb(0, 0, 0);">{{sobre.titulo}}</h1>

    <div id="sobreOCurso-markdown36" class="show-list-numbers-and-dots"> 

      <p style="color:#000000;">
        <strong>{{sobre.subtitulo}}</strong>

      <p style="color:#000000;">{{sobre.texto1}}</p>

    </div>
    <div>

    </div>
    <div id="sobreOCurso-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{sobre.texto2}}</p>
    </div>
  </ion-content>
</ion-view>