<ion-view title="Sobre o app" id="page8" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-help"></button>
  </ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<div style="position: relative;">
			<div>
				<img src="img/foto_lab.jpg" style="margin-left: -10px; margin-top: -10px; margin-bottom: 30px; height: 100px">
			</div>
			<div>
				<ion-card>
					<ion-card-header>
						<strong>Desenvolvedores:</strong>
					</ion-card-header>
						<br />
					<ion-card-content>
						Bueno Nepomuceno, <br />
						Volnei Fuzer e <br /> 
						Paulo Giovanny.
					</ion-card-content>
				</ion-card>
			</div>
				<br />
			<div>
				<ion-card>
					<ion-card-header>
						<strong>Orientador:</strong>
					</ion-card-header>
						<br />
					<ion-card-content>
						Prof: Daniel Abella
					</ion-card-content>
				</ion-card>
			</div>
				<br />
		</div>
	</ion-content>
</ion-view>