<ion-view title="Sobre o Curso" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="sobreOCurso-heading6" style="color: rgb(0, 0, 0);">Sobre o Curso</h1>
    <div id="sobreOCurso-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Autorizado pela Portaria MEC nº 1.434, D.O.U. de 12/06/2003</strong>
      </p>

      <p style="color:#000000;">Duração: 9 semestres (4 anos e meio) Carga horária: 3.680 horas/aula Regime de matrícula: Seriado Semestral</p>
    </div>
    <div id="sobreOCurso-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O bacharel em Sistemas de Informação formado pela Facisa é habilitado para atuar nas áreas de planejamento, análise, utilização e avaliação de Tecnologia da Informação e Comunicação (TIC), no nível operacional, tático ou estratégico de organizações
        industriais, comerciais ou financeiras, públicas ou privadas de pequeno, médio ou grande porte. Ele deve estar capacitado para conceber, desenvolver e implantar projetos de automação corporativos, para proporcionar melhorias nos processos de negócios
        e para criar valor de negócio através da TIC. É, ainda, capaz de atuar como analista e projetista de sistemas de informação, programador de sistemas de informação, administrador de bancos de dados, projetista e gerente de redes de computadores,
        auditor de sistemas de informação, consultor de sistemas de informação e analista de suporte de sistemas.</p>
    </div>
  </ion-content>
</ion-view>