<ion-view title="" id="page8" style="">
	<ion-content padding="true" class="has-header" style="margin-bottom: 40px;">
			
			<h1 id="desenvolvedores-heading5" style="color: rgb(0, 0, 0);">Sobre o App</h1>

			<strong>Desenvolvedores:</strong>
			
			<div class="list">

			    <a class="item item-avatar" ng-repeat="desenvolvedor in sobre.desenvolvedores">
			      <img src="{{desenvolvedor.img}}">
			      <h2>{{desenvolvedor.nome}}</h2>
			      <p>{{desenvolvedor.email}}</p>
			    </a>

			</div>

			<strong>Orientador:</strong>

			<div class="list">

			    <a class="item item-avatar" ng-repeat="orientador in sobre.orientadores">
			      <img src="{{orientador.img}}">
			      <h2>{{orientador.nome}}</h2>
			      <p>{{orientador.email}}</p>
			    </a>

			</div>

			<strong>Contribuidores:</strong>

			<div class="list">

			    <a class="item item-avatar" ng-repeat="contribuidor in sobre.contribuidores">
			      <img src="{{contribuidor.img}}">
			      <h2>{{contribuidor.nome}}</h2>
			      <p>{{contribuidor.email}}</p>
			    </a>

			</div>

	</ion-content>
</ion-view>