<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">SI Facisa</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="sIFacisa-list1">
        <ion-item id="sIFacisa-list-item1" ui-sref="sIFacisa.notCias" menu-close="">Notícias</ion-item>
        <ion-item id="sIFacisa-list-item8" ui-sref="sIFacisa.eventos" menu-close="">Eventos</ion-item>
        <ion-item id="sIFacisa-list-item2" ui-sref="sIFacisa.sobreOCurso" menu-close="">Sobre o Curso</ion-item>
        <ion-item id="sIFacisa-list-item3" ui-sref="sIFacisa.planosDeCurso" menu-close="">Planos de Curso</ion-item>
        <ion-item id="sIFacisa-list-item4" ui-sref="sIFacisa.gradeCurricular" menu-close="">Grade curricular</ion-item>
        <ion-item id="sIFacisa-list-item5" ui-sref="sIFacisa.professores" menu-close="">Professores</ion-item>
        <ion-item id="sIFacisa-list-item6" ui-sref="sIFacisa.contato" menu-close="">Contato</ion-item>
        <ion-item id="sIFacisa-list-item7" ui-sref="sIFacisa.sobreOApp" menu-close="">Sobre o app</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>